In [4]:
import pandas as pd
data = pd.read_csv('movies.csv')

In [5]:
print(data)

                                           Movies       Earnings  Year
0                                          Avatar  2,923,706,026  2009
1                               Avengers: Endgame  2,797,501,328  2019
2                        Avatar: The Way of Water  2,320,250,281  2022
3                                         Titanic  2,257,844,554  1997
4                    Star Wars: The Force Awakens  2,068,223,624  2015
5                          Avengers: Infinity War  2,048,359,754  2018
6                         Spider-Man: No Way Home  1,921,847,111  2021
7                                  Jurassic World  1,671,537,444  2015
8                                   The Lion King  1,656,943,394  2019
9                                    The Avengers  1,518,815,515  2012
10                                      Furious 7  1,515,341,399  2015
11                              Top Gun: Maverick  1,495,696,292  2022
12                                      Frozen II  1,450,026,933  2019
13                                         Barbie  1,427,904,685  2023
14                        Avengers: Age of Ultron  1,402,809,540  2015
15                    The Super Mario Bros. Movie  1,360,740,824  2023
16                                  Black Panther  1,347,280,838  2018
17  Harry Potter and the Deathly Hallows – Part 2  1,342,139,727  2011
18                       Star Wars: The Last Jedi  1,332,539,889  2017
19                 Jurassic World: Fallen Kingdom  1,308,473,425  2018
20                                         Frozen  1,290,000,000  2013

In [8]:
sorted = data.sort_values(by='Year', ascending=True)
print(sorted)

                                           Movies       Earnings  Year
3                                         Titanic  2,257,844,554  1997
0                                          Avatar  2,923,706,026  2009
17  Harry Potter and the Deathly Hallows – Part 2  1,342,139,727  2011
9                                    The Avengers  1,518,815,515  2012
20                                         Frozen  1,290,000,000  2013
7                                  Jurassic World  1,671,537,444  2015
14                        Avengers: Age of Ultron  1,402,809,540  2015
4                    Star Wars: The Force Awakens  2,068,223,624  2015
10                                      Furious 7  1,515,341,399  2015
18                       Star Wars: The Last Jedi  1,332,539,889  2017
5                          Avengers: Infinity War  2,048,359,754  2018
19                 Jurassic World: Fallen Kingdom  1,308,473,425  2018
16                                  Black Panther  1,347,280,838  2018
8                                   The Lion King  1,656,943,394  2019
12                                      Frozen II  1,450,026,933  2019
1                               Avengers: Endgame  2,797,501,328  2019
6                         Spider-Man: No Way Home  1,921,847,111  2021
2                        Avatar: The Way of Water  2,320,250,281  2022
11                              Top Gun: Maverick  1,495,696,292  2022
13                                         Barbie  1,427,904,685  2023
15                    The Super Mario Bros. Movie  1,360,740,824  2023

In [9]:
sorted = data.sort_values(by='Year', ascending=False)
print(sorted)

                                           Movies       Earnings  Year
13                                         Barbie  1,427,904,685  2023
15                    The Super Mario Bros. Movie  1,360,740,824  2023
2                        Avatar: The Way of Water  2,320,250,281  2022
11                              Top Gun: Maverick  1,495,696,292  2022
6                         Spider-Man: No Way Home  1,921,847,111  2021
8                                   The Lion King  1,656,943,394  2019
1                               Avengers: Endgame  2,797,501,328  2019
12                                      Frozen II  1,450,026,933  2019
16                                  Black Panther  1,347,280,838  2018
19                 Jurassic World: Fallen Kingdom  1,308,473,425  2018
5                          Avengers: Infinity War  2,048,359,754  2018
18                       Star Wars: The Last Jedi  1,332,539,889  2017
10                                      Furious 7  1,515,341,399  2015
4                    Star Wars: The Force Awakens  2,068,223,624  2015
7                                  Jurassic World  1,671,537,444  2015
14                        Avengers: Age of Ultron  1,402,809,540  2015
20                                         Frozen  1,290,000,000  2013
9                                    The Avengers  1,518,815,515  2012
17  Harry Potter and the Deathly Hallows – Part 2  1,342,139,727  2011
0                                          Avatar  2,923,706,026  2009
3                                         Titanic  2,257,844,554  1997